/* /////////////////////////////////////////////////////
 *
 * Minimalist Theme for ddGallery
 * http://inventurous.net/ddgallery
 *
//////////////////////////////////////////////////////*/

/* GALLERY */
.ddGallery-main {
	border: solid 1px #000;
}

.ddGallery-main.fullScreen {
	background: #fff;
}

/*  STAGE */
.ddGallery-stage-wrapper {
	background: #fff;
	box-shadow: none;
}

.ddGallery-stage.loading {
	background: url(images/loading.gif) center center no-repeat;
}

.ddGallery-stage {}


/*  ITEMS */
.ddGallery-stage .ddGallery-item {
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-box-reflect: none;
}


/*  IFRAME WRAPPERS */
.ddGallery-iframe-wrapper,
.ddGallery-youtube-wrapper,
.ddGallery-vimeo-wrapper {
	background: #fff url(images/loading.gif) center center no-repeat;
	box-shadow: none;
	overflow: hidden;
}


/*  ITEM COUNT */
.ddGallery-count {
	top: -7px;
	left: -7px;
	background: #fff;
	color: #000;
	border: solid 1px #000;
	font-weight: normal;
	box-shadow: none;
	padding: 6px;
}

.ddGallery-count:after {
	content: '';
}


/*  FULL SCREEN / ZOOM WRAPPER */
.ddGallery-toggles {
	position: absolute;
	top: -7px;
	right: -7px;
	white-space: nowrap;
	width: 100%;
	text-align: right;
}

.ddGallery-main.fullScreen .ddGallery-toggles {
	top: -1px;
	right: -1px;
}

/*  FULL SCREEN BUTTON */
.ddGallery-fullScreen {
	background: #fff;
	color: #999;
	box-shadow: none;
	border-radius: 0;
	border: solid 1px #000;
	margin: 0 0 0 -1px;
}

.ddGallery-fullScreen:after {
	content: 'F';
}

.ddGallery-fullScreen:hover,
.ddGallery-fullScreen:hover > div > div {
	background: #fff;
	color: #000;
	box-shadow: inset 0 0 10px #42BDFF;
}

.ddGallery-fullScreen.active {
	opacity: 1;
	color: #000;
}

.ddGallery-fullScreen > div,
.ddGallery-fullScreen > div > div {
	display: none;
}


/*  ZOOM BUTTON */
.ddGallery-zoom {
	background: #fff;
	color: #999;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	border: solid 1px #000;
}

.ddGallery-zoom:hover {
	background: #fff;
	color: #000;
	box-shadow: inset 0 0 10px #42BDFF;
}

.ddGallery-zoom.active {
	opacity: 1;
	color: #000;
}

.ddGallery-zoom:after {
	content: 'Z';
}

.ddGallery-zoom.active:after {
	content: 'Z';
}

/*  CAPTIONS */
.ddGallery-caption {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	border-top: solid 1px #000;
	color: #000;
}

.ddGallery-externalCaptions {}


/*  CONTROL TAB */
.ddGallery-control-tab {
	background: #fff;
	border: solid 1px #000;
	width: 100px;
	height: 9px;
	text-align: center;
	border-radius: 0;
	cursor: pointer;
	bottom: -5px;
}

.ddGallery-control-tab:before {
	content: '';
}

.ddGallery-control-tab:hover,
.ddGallery-control-tab.pinned:hover{
	background: #fff;
	box-shadow: inset 0 0 5px #42BDFF;
}

.ddGallery-control-tab.pinned {
	background: #fff;
	border-bottom: solid 1px #000;
}


/*  ARROWS */
.ddGallery-arrows {
	background: #fff;
	border-radius: 0;
	width: 4%;
	height: 45%;
	margin: 0 -7px;
	border: solid 1px #000;
}

.ddGallery-arrows:hover {
	background: #fff;
	box-shadow: inset 0 0 10px #42BDFF;
}

.ddGallery-arrow-left {
	left: 0;
}

.ddGallery-arrow-right {
	right: 0;
}

.ddGallery-arrow-left .arrow,
.ddGallery-arrow-left:hover .arrow {
	border-right-color: #000;
}

.ddGallery-arrow-right .arrow,
.ddGallery-arrow-right:hover .arrow {
	border-left-color: #000;
}

	

/*  FULL-SCREEN ARROWS */
.ddGallery-main.fullScreen .ddGallery-arrows {
	margin: 0 -1px;
	width: 2%;
}


/*  THUMBNAIL BUTTONS */
.ddGallery-thumbs-wrapper {
	background: #fff;
	background: rgba(255,255,255, 0.8);
	border-top: solid 1px #000;
	box-shadow: none;
}

.ddGallery-thumbs {
	padding: 0 7px;
}

.ddGallery-thumbs a {
	background: #000 center center no-repeat;
	border: solid #000 1px;
	border-radius: 0;
	margin: 5px 5px 5px 0;
	width: 50px;
	height: 50px;
}

.ddGallery-thumbs a:hover {
	border-color: #000;
	box-shadow: none;
}

.ddGallery-thumbs a.selected {
	border-color: #42BDFF;
	box-shadow: none;
}

.ddGallery-thumbs a:hover .ddGallery-watermark,
.ddGallery-thumbs a.selected .ddGallery-watermark {
	display: block;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 10px #42BDFF;
}



/*  THUMBNAIL ITEM NUMBERS */
.ddGallery-thumbs a .ddGallery-number {
	top: -4px;
	left: -4px;
	padding: 0;
	border-radius: 0;
	text-align: center;
	font-family: inherit;
	font-size: 10px;
	color: #000;
	background: #fff;
	box-shadow: none;
	border: solid 1px #000;	
}

.ddGallery-thumbs a.selected .ddGallery-number {
	background: #42BDFF;
	color: #fff;
	border-color: #000;
	box-shadow: none;
}


/*  THUMBNAIL WATERMARKS */
.ddGallery-thumbs a .ddGallery-watermark {
	display: block;
	width: 100%;
	height: 100%;
}

.ddGallery-thumbs a.img .ddGallery-watermark,
.ddGallery-thumbs a.clickable .ddGallery-watermark {}

.ddGallery-thumbs a.div .ddGallery-watermark {}

.ddGallery-thumbs a.iframe .ddGallery-watermark {}

.ddGallery-thumbs a.youtube .ddGallery-watermark,
.ddGallery-thumbs a.vimeo .ddGallery-watermark {
	background: url(images/playbutton.png) center center no-repeat;
}

/*  DOT NAVIGATION: PLAIN */
.ddGallery-dotNav .dot {
	background: none;
	border: solid 1px #000;
}

.ddGallery-dotNav .dot:hover {
	background: #42BDFF;
}

.ddGallery-dotNav .dot.selected {
	background: #000;
	width: 7px;
	height: 7px;
}
	
/*  DOT NAVIGATION: NUMBERED */
.ddGallery-dotNav .number {
	margin: 5px 5px 0 0;
	width: 10px;
	height: 10px;
	padding: 3px;
	line-height: 10px;
	border-radius: 0;
	text-align: center;
	font-family: inherit;
	font-size: 10px;
	color: #000;
	background: #fff;
	box-shadow: none;
	border: solid 1px #000;	
}

.ddGallery-dotNav .number:hover {
	background: #fff;
	box-shadow: inset 0 0 10px #42BDFF;
}

.ddGallery-dotNav .number.selected {
	background: #42BDFF;
	color: #fff;
	border-color: #000;
	box-shadow: none;
};